div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body{
    color: purple;
    background-color: dimgrey;
    align-items: normal;
}

.formulario{
    background-color: blue;
} 